<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoya.mapper.BatchRateMapper">
    <resultMap id="BaseResultMap" type="com.xiaoya.domain.rate.entity.Model">
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="SORTNAME" jdbcType="VARCHAR" property="sortName"/>
    </resultMap>
    <select id="getModels" resultMap="BaseResultMap">
    select
    name,
    updatetime,
    createtime,
    (select name from sort where id = sortid) sortname
     from model
  </select>
    <select id="getSorts" resultType="com.xiaoya.domain.rate.entity.Sort">
    select * from sort
  </select>
</mapper>